{% block stepNavigation %}
{% for id,args in steps %}

{% block stepNavigationRow %}
    {% spaceless %}
        {% if id > 0 %}<span class="separator">&rarr;</span>{% endif %}

        {% if args['accessible'] %}
            <a href="{{ path('reports_build_step',{ "reportId": args['report'].getId() , "stepKey": args['stepKey'] }) }}" class="stepNavigation {% if args['current'] %}current {% endif %}{% if args['step'].isFinished() %} finished{% endif %}">
        {% else %}
            <span class="stepNavigation inaccessible {% if args['current'] %}current {% endif %} ">
        {% endif %}

        {{ args['step'].getLabel() }}

        {% if args['accessible'] %}
            </a>
        {% else %}
            </span>
        {% endif %}

    {% endspaceless %}
{% endblock %}

{% endfor %}
{% endblock %}