.washed-out {
  font-style: italic;
  color: rgba(64, 64, 64, 0.4);
}
.margin-bottom10 {
  margin-bottom: 10px;
}
.clearfix {
  *zoom: 1;
}
.clearfix:before,
.clearfix:after {
  display: table;
  content: "";
}
.clearfix:after {
  clear: both;
}
.hide-text {
  font: 0/0 a;
  color: transparent;
  text-shadow: none;
  background-color: transparent;
  border: 0;
}
.input-block-level {
  display: block;
  width: 100%;
  min-height: 28px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
}
.step-nav {
  line-height: 36px;
}
.step-nav .separator {
  color: rgba(64, 64, 64, 0.4);
  font-size: 1.2em;
  margin-left: 8px;
}
.step-nav .piece {
  margin-left: 8px;
}
.step-nav strong {
  margin-right: 3px;
}
.step-nav .piece.inaccessible {
  font-style: italic;
  color: rgba(64, 64, 64, 0.4);
}
.step-nav .current {
  font-weight: 700;
}
.js .step-nav {
  display: block !important;
}
form.report-build div.control-group.control-group-alias label {
  float: left;
}
.report-build .build-interface {
  *zoom: 1;
}
.report-build .build-interface:before,
.report-build .build-interface:after {
  display: table;
  content: "";
}
.report-build .build-interface:after {
  clear: both;
}
.report-build .build-interface .scroll {
  max-height: 500px;
  width: 100%;
  overflow: auto;
}
.report-build .build-interface .list-controls {
  float: right;
  font-size: 0.9em;
  line-height: 28px;
}
.report-build .build-interface .list-controls .control {
  margin-left: 5px;
}
.report-build .build-interface .list-pane h3 {
  margin-bottom: 12px;
}
.report-build .build-interface .list-pane .empty {
  font-style: italic;
  color: rgba(64, 64, 64, 0.4);
}
.report-build .build-interface .list-pane .items {
  margin-left: 0;
  list-style: none;
}
.report-build .build-interface .list-pane .items > li {
  min-height: 23px;
  position: relative;
  *zoom: 1;
  margin-bottom: 10px;
}
.report-build .build-interface .list-pane .items > li:before,
.report-build .build-interface .list-pane .items > li:after {
  display: table;
  content: "";
}
.report-build .build-interface .list-pane .items > li:after {
  clear: both;
}
.report-build .build-interface .list-pane .items > li .control-group {
  display: none;
}
.report-build .build-interface .list-pane .items > li .item-label {
  position: absolute;
  top: 0;
  left: 13px;
  height: 23px;
  line-height: 23px;
  white-space: nowrap;
}
.report-build .build-interface .list-pane .items > li .item-label .prefix {
  font-style: italic;
  color: rgba(64, 64, 64, 0.4);
}
.report-build .build-interface .list-pane .items > li .move {
  position: absolute;
  top: 0;
  left: 0;
  width: 10px;
  height: 23px;
  background: url(/bundles/brown298reportbuilder/images/drag-handle.png) repeat-y;
  cursor: row-resize;
}
.report-build .build-interface .list-pane .items > li .remove {
  position: absolute;
  top: 0;
  right: 3px;
  width: 18px;
  height: 23px;
  cursor: pointer;
}
.report-build .build-interface .list-pane .items li:hover {
  background-color: #fff;
}
.report-build .build-interface .list-pane .items li:hover .remove {
  background: url(/bundles/brown298reportbuilder/images/delete.png) no-repeat center center;
}
.report-build .build-interface .list-pane .items.reset-hovering li .remove {
  background: url(/bundles/brown298reportbuilder/images/delete.png) no-repeat center center;
}
.report-build .build-interface .list-pane .buttons {
  margin-top: 5px;
}
.report-build .build-interface .list-pane .buttons a {
  margin-right: 5px;
}
.report-build .build-interface .tree-pane h3 {
  margin-bottom: 4px;
}
.report-build .build-interface .tree-pane .tree ul {
  list-style: none;
  margin: 0;
}
.report-build .build-interface .tree-pane .tree ul li label {
  *zoom: 1;
  line-height: 16px;
  padding-top: 5px;
  margin: 0 0 5px;
  cursor: pointer;
}
.report-build .build-interface .tree-pane .tree ul li label:before,
.report-build .build-interface .tree-pane .tree ul li label:after {
  display: table;
  content: "";
}
.report-build .build-interface .tree-pane .tree ul li label:after {
  clear: both;
}
.report-build .build-interface .tree-pane .tree ul li label span.control {
  float: left;
  width: 22px;
  height: 18px;
}
.report-build .build-interface .tree-pane .tree ul li label span.control input {
  margin: 2px 0 0;
  float: left;
}
.report-build .build-interface .tree-pane .tree ul li label span.prop-label {
  float: left;
}
.report-build .build-interface .tree-pane .tree ul li .group {
  margin-left: 22px;
}
.report-build .build-interface .tree-pane .tree ul li.parent > label > span.control {
  background: url(/bundles/brown298reportbuilder/images/collapsed.png) no-repeat;
  background-position: 0 center;
}
.report-build .build-interface .tree-pane .tree ul li.parent.expanded > label > span.control {
  background-image: url(/bundles/brown298reportbuilder/images/expanded.png);
}
.report-build .build-interface.fields-interface .list-pane {
  width: 48%;
  margin-right: 4%;
  float: left;
}
.report-build .build-interface.fields-interface .tree-pane {
  width: 48%;
  float: left;
}
.report-build .build-interface.filter-interface .list-pane {
  width: 28%;
  margin-right: 4%;
  float: left;
}
.report-build .build-interface.filter-interface .list-pane .items > li {
  position: relative;
  min-height: 56px;
}
.report-build .build-interface.filter-interface .list-pane .items > li .loading {
  position: absolute;
  top: 40px;
  left: 0;
  width: 33px;
  height: 5px;
  background: url(/bundles/brown298reportbuilder/images/loading.gif) no-repeat;
}
.report-build .build-interface.filter-interface .list-pane .items > li .form {
  margin-top: 28px;
  margin-left: 0;
  float: left;
  clear: left;
}
.report-build .build-interface.filter-interface .list-pane .items > li .form select.filter-type {
  float: left;
  max-width: 118px;
}
.report-build .build-interface.filter-interface .list-pane .items > li .form .filter-type-forms {
  float: left;
  margin-left: 3px;
}
.report-build .build-interface.filter-interface .list-pane .items > li .form .filter-type-forms .filter-type-form {
  display: none;
  float: left;
}
.report-build .build-interface.filter-interface .list-pane .items > li .form .filter-type-forms .filter-type-form input.value,
.report-build .build-interface.filter-interface .list-pane .items > li .form .filter-type-forms .filter-type-form input.second_value {
  float: left;
  width: 100px;
  margin-left: 3px;
}
.report-build .build-interface.filter-interface .list-pane .items > li .form .filter-type-forms .filter-type-form.between_dates input.value,
.report-build .build-interface.filter-interface .list-pane .items > li .form .filter-type-forms .filter-type-form.not_between_dates input.value,
.report-build .build-interface.filter-interface .list-pane .items > li .form .filter-type-forms .filter-type-form.between_datetimes input.value,
.report-build .build-interface.filter-interface .list-pane .items > li .form .filter-type-forms .filter-type-form.not_between_datetimes input.value,
.report-build .build-interface.filter-interface .list-pane .items > li .form .filter-type-forms .filter-type-form.between_dates input.second_value,
.report-build .build-interface.filter-interface .list-pane .items > li .form .filter-type-forms .filter-type-form.not_between_dates input.second_value,
.report-build .build-interface.filter-interface .list-pane .items > li .form .filter-type-forms .filter-type-form.between_datetimes input.second_value,
.report-build .build-interface.filter-interface .list-pane .items > li .form .filter-type-forms .filter-type-form.not_between_datetimes input.second_value {
  width: 63px;
}
.report-build .build-interface.filter-interface .list-pane .items > li .errors {
  clear: left;
  list-style-type: none;
  margin-left: 0;
  padding-left: 0;
}
.report-build .build-interface.filter-interface .tree-pane {
  width: 28%;
  margin-right: 4%;
  float: left;
}
.report-build .build-interface.filter-interface .result-pane {
  width: 68%;
  float: left;
}
.report-build .build-interface.order-interface .list-pane {
  width: 48%;
  margin-right: 4%;
  float: left;
}
.report-build .build-interface.order-interface .list-pane .items > li .ascending {
  margin-top: 28px;
  margin-left: 0;
  float: left;
  clear: left;
}
.report-build .build-interface.order-interface .tree-pane {
  width: 48%;
  float: left;
}
.report-build .form-actions {
  padding-left: 0;
}
.report-build .form-actions .inner button,
.report-build .form-actions .inner a {
  float: left;
  margin-left: 5px;
}
