// VARIABLES
// ---------

// Links
@linkColor:         #0069d6;
@linkColorHover:    darken(@linkColor, 10);

// Grays
@black:             #000;
@grayDark:          lighten(@black, 25%);
@gray:              lighten(@black, 50%);
@grayLight:         lighten(@black, 75%);
@grayLighter:       lighten(@black, 90%);
@white:             #fff;

// Accent Colors
@blue:              #049CDB;
@blueDark:          #0064CD;
@green:             #46a546;
@red:               #9d261d;
@yellow:            #ffc40d;
@orange:            #f89406;
@pink:              #c3325f;
@purple:            #7a43b6;

// Baseline grid
@basefont:          13px;
@baseline:          18px;

// Griditude
@gridColumns:       16;
@gridColumnWidth:   40px;
@gridGutterWidth:   20px;
@siteWidth:         (@gridColumns * @gridColumnWidth) + (@gridGutterWidth * (@gridColumns - 1));

// Color Scheme
@baseColor:         @blue;                  // Set a base color
@complement:        spin(@baseColor, 180);  // Determine a complementary color
@split1:            spin(@baseColor, 158);  // Split complements
@split2:            spin(@baseColor, -158);
@triad1:            spin(@baseColor, 135);  // Triads colors
@triad2:            spin(@baseColor, -135);
@tetra1:            spin(@baseColor, 90);   // Tetra colors
@tetra2:            spin(@baseColor, -90);
@analog1:           spin(@baseColor, 22);   // Analogs colors
@analog2:           spin(@baseColor, -22);



@font: 'Istok Web', Georgia, sans-serif;
@fontsize: 1em;

@color-base:#fff;
@color-background: #FBFAF7;
@color-main: #4664AA;
@color-dark: darken(@color-main, 20%);
@color-light: lighten(@color-main, 20%);
@color-tab: #242424;
@color-highlight: #ffffcc;
@color-hover: red;

@color-low: green;
@color-moderate: #ffffaa;
@txtcolor-moderate: #bbbb66;
@color-high: red;
@color-na: gray;

.apply-border (@color) {
  @ltcolor: lighten(@color, 15%);
  @dkcolor: darken(@color, 10%);

  border-top: 1px solid @ltcolor;
  border-left: 1px solid @ltcolor;
  border-right: 2px solid @dkcolor;
}

.washed-out {
  font-style: italic;
  color: fadeout(@grayDark, 60%);
}
.margin-bottom10 {
  margin-bottom: 10px;
}