.report-table.with-parameter-form {
  margin-right: 220px;
}
.parameter-form {
  width: 190px;
  position: absolute;
  right: 10px;
  padding: 0 8px 8px;
  background-color: #fff;
}
.parameter-form .control-group {
  padding-bottom: 4px;
}
.parameter-form .control-group select {
  width: 185px;
}
.parameter-form .section {
  margin-bottom: 8px;
}
.parameter-form div.btn-group {
  display: inline-block;
}
