{% extends "Brown298ReportBuilderBundle::base.html.twig" %}
{% block content %}
<div class="report-lists">
    <h2>{% block title %}Reports{% endblock %}</h2>

    {% if buildEnabled %}
        <div>
            <a href="{{ path('reports_create') }}" class="btn btn-primary">
                Create a Report
            </a>
        </div>
        <div class="clearfix"></div>
    {% endif %}

    {% if buildEnabled and builtReportList is defined %}
        <h3>Your Reports</h3>

        <div class="table-bordered">
            {{ addDataTable(builtReportList.getColumns(), {
            'path':          path('reports_index',{'tableName':'builtReportList'}),
            'id':            'builtReportList',
            'bLengthChange': 0,
            'iDataLength':   10,
            'bInfo':         1,
            'bFilter':       1
            }) }}
        </div>
        <div class="clearfix"></div>

        {% if sharedReportList is defined %}
            <h3>Others' Reports</h3>

            <div class="table-bordered">
                {{ addDataTable(sharedReportList.getColumns(), {
                'path':          path('reports_index',{'tableName':'sharedReportList'}),
                'id':            'sharedReportList',
                'bLengthChange': 0,
                'iDataLength':   10,
                'bInfo':         1,
                'bFilter':       1
                }) }}
            </div>
            <div class="clearfix"></div>
        {% endif %}
    {% endif %}

    {% if systemReportList is defined %}
        {% if buildEnabled %}
            <h3>System Reports</h3>
        {% endif %}

        <div class="table-bordered">
            {{ addDataTable(systemReportList.getCosumns(), {
            'path':          path('reports_index',{'tableName':'systemReportList'}),
            'id':            'systemReportList',
            'bLengthChange': 0,
            'iDataLength':   10,
            'bInfo':         1,
            'bFilter':       1
            }) }}
        </div>
        <div class="clearfix"></div>
    {% endif %}
</div>
{% endblock %}