
{% if report.finished and report.valid %}
    <a href="{{ path('reports_view_index', { 'reportId': report.id }) }}">View</a>
{% endif %}

{% if is_granted('ROLE_SUPER_ADMIN') %}
    {% if  report.valid %}
        <a href="{{ path('reports_build_first',  { 'reportId': report.id })}}">Edit</a>
    {% endif %}

    {% if not report.deleted %}
        <a href="{{ path('reports_delete',  { 'reportId': report.id }) }}" class="delete">Delete</a>
    {% endif %}

    {% if report.deleted %}
        <a href="{{ path('reports_default_undelete', { 'reportId': report.id })}}">Restore</a>
    {% endif %}
{% endif %}